@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Lato:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: 700; /* Use the bold weight for headings */
}

.profile-image {
    max-width: 150px; /* or any size that fits well in your layout */
    margin: 0 auto; /* Center align the image */
    display: block;
    border: 3px solid #ddd;
    border-radius: 50%;
}

.main {
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    /* Add responsive width */
    max-width: 90%;
    margin: 0 auto; /* Center align the main content */
}
